body,
html {
  height: 100%;
}

.bg-seagreen {
  background-color: seagreen;
}

.checkDiv {
  background-color: red;
  border: 2px dotted black;
}

.game-tile {
  background-color: rgb(173, 230, 185);
  min-width: 40px;
  min-height: 40px;
  user-select: none;
  margin: 0;
  padding: 0;
}

.game-tile-head {
  box-shadow: inset 0 0 100px rgba(103, 156, 170, 1);
}

.game-tile-clicked {
  box-shadow: inset 0 0 100px rgba(173, 216, 230, 1); 
}

.game-tile:hover {
  background-color: lightcoral;
  cursor: pointer;
  transform: scale(1.2);
}

.game-tile-found {
  background-color: rgb(230, 226, 173);
}

.game-tile-animate {
  animation: game-tile-animate 0.5s;
}

@keyframes game-tile-animate {
  0% {
    transform: scale(1);
    background-color: rgb(252, 185, 123);
  }
  50% {
    transform: scale(1.1);
    background-color: rgb(252, 185, 123);
  }
  100% {
    transform: scale(1);
    background-color: rgb(252, 185, 123);
  }
}

.word-found {
  animation: word-found 0.5s;
  color: red; 
  text-decoration: line-through;
}

@keyframes word-found {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

#timer {
  width: 75%;
  border: 1px solid black;
}

#right-content {
  border-top: 1px solid black;
}

#left-content {
  border-top: 1px solid black;
  border-right: 1px solid black;
}
