body, html {
    height: 100%;
}

.bg-seagreen {
    background-color: seagreen;
    /* color: white; */
}

.checkDiv {
    background-color: red;
    border: 2px dotted black;
}

/* div {
    border: 2px solid black;
} */
